body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4; /* Lichtgrijs achtergrondkleur */
    color: #333; /* Donkergrijze tekstkleur */
}

nav {
    background-color: #003366; /* Donkerblauw voor de navigatiebalk */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00a1de; /* Lichtblauw hover kleur */
}

section {
    padding: 60px 20px;
    margin-top: 50px;
}

section h1, section h2 {
    color: #003366; /* Donkerblauw voor titels */
}

#home {
    background-color: #00a1de; /* Lichtblauw achtergrondkleur voor Home-sectie */
    color: #fff;
}

#about, #services, #contact {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #ddd;
}
