body {
    font-family: Open Sans, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 16px;
    line-height: 1.5em;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav ul li {
    margin: 10px;
    padding-top: 5px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #00a1de;
  }
  
  section {
    padding: 150px 20px;
    margin-top: 0px;
  }
  
  section h1 {
    color: #333;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #home {
    background-color: #f7f7f7;
    color: #333;
    text-align: center;
    padding: 250px;
  }
  
  #home p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  #rooster p {
    text-align: center;
  }
  
  #vakken {
    background-color: #f7f7f7;
    color: #333;
    text-align: center;
    padding: 250px;
  }
  
  #vakken p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  #vakken h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #vakken ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #vakken li {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #vakken li:hover {
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #vakken a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  #vakken a:hover {
    color: #00a1de;
  }

  #opleidingoverzicht p {
    text-align: center;
  }
  
  
  .logo {
    display: block;
    margin: 0 auto;
    width: 25%;
  }
  
  .homeimg, .rooster, .opleidingoverzichtimg {
    display: block;
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
  }
  
  .teacher-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
  .teacher {
    background-color: #f7f7f7;
    margin: 20px;
    text-align: center;
  }
  
  .teacher img {
    border-radius: 50%;
    width: 220px;
    height: 240px;
    background-color: #333;
    padding: 7px;
  }
  
  .teacher p {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  /* Mobiele styling */
  @media (max-width: 767px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      margin: 5px 0;
    }
  
    .logo {
      width: 50%;
    }
  
    section {
      padding: 100px 20px;
    }
  
    #home, #rooster, #opleidingoverzicht {
      padding: 150px 
    }
}