body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #003366;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
    padding-top: 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00a1de;
}

section {
    padding: 100px 20px 100px;
    margin-top: 0px;
}

section h1 {
    color: #003366;
    text-align: center;
}

#home {
    background-color: #00a1de;
    color: #fff;
    text-align: center;
    padding: 170px;
}

#home p {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#rooster {
    background-color: #eb39ce;
    color: #fff;
    text-align: center;
    padding: 170px;
}

#rooster p {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#opleidingoverzicht {
    background-color: #eaf11d;
    color: #fff;
    text-align: center;
    padding: 230px;
}

#opleidingoverzicht p {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#docenten {
    background-color: #6ac223;
    padding: 40px;
}

.document-item {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 10%;
}

.homeimg {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
}

.rooster {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.opleidingoverzichtimg {
    display: block;
    margin: 0 auto;
    width: 60%;
}

.teacher-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.teacher {
    margin: 20px;
    text-align: center;
}

.teacher img {
    border-radius: 50%;
    width: 250px;
    height: 260px;
    background-color: #003366;
    padding: 7px;
}

.teacher p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


@media (max-width: 767px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: .1px 0;
    }

    .logo {
        width: 30%;
    }

    section {
        padding: 80px 20px 80px;
    }

    .homeimg, .rooster, .opleidingoverzichtimg {
        width: 90%;
    }

    .teacher-grid {
        flex-direction: column;
    }

    .teacher {
        margin: 20px 0;
    }
}


@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        margin: 0 20px;
    }

    .logo {
        width: 10%;
    }

    .homeimg, .rooster, .opleidingoverzichtimg {
        width: 50%;
    }

    .teacher-grid {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .teacher {
        margin: 20px;
    }
}
